<section class="section service-rating-garant">
  <div class="container">
    <div class="service-rating-garant__grid">
      <div class="service-rating-garant__image">
        <img src="{{ post.get_field('garant_image') }}" alt="{{ post.get_field('garant_title')|striptags }}">
      </div>
      <div>
        <h3 class="section-header__title service-rating-garant__title">{{ post.get_field('garant_title') }}</h3>
        <div class="service-rating-garant__content">{{ post.get_field('garant_subtitle') }}</div>
        <a href="#contacts" class="btn btn_block btn_brand-3 effect effect_bounce-top anchor">
          {{ post.get_field('garant_button_text') }}
        </a>
      </div>
    </div>
  </div>
</section>