{% embed "partial/green-trees.twig" with {
  button_link: '#contact',
  custom_class: 'green-trees_offset'
} %}
  {% block main %}
    <div class="home-complex__inner" data-emergence="hidden">
      <img src="{{ theme.link }}/static/img/plane-2.svg" alt="Cloud" class="home-complex__plane">
      <div class="home-complex__grid">
        <div class="home-complex__content">
          <div class="home-complex__title">
            {{ post.get_field('complex_title') }}
          </div>
          <div class="home-complex__subtitle">
            {{ post.get_field('complex_subtitle') }}
          </div>
        </div>
        <div class="home-complex__items">
          {% for item in post.get_field('complex_icons') %}
            <div class="home-complex__item">
              <img src="{{ item.image }}" alt="{{ item.title|striptags }}" class="home-complex__item-image">
              <div class="home-complex__item-title">{{ item.title }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}