<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <a href="{{site.url}}"><img src="{{ options.logo }}" alt="{{site.name}}" class="footer__logo"></a>
      <address class="footer__address">{{ options.address }}</address>
      <ul class="footer__phones">
        {% for item in options.phones %}
          <li><a href="tel: {{ item.phone }}">{{ item.phone }}</a></li>
        {% endfor %}
      </ul>
      <a href="mailto: {{ options.email }} " class="footer__email">{{ options.email }}</a>
    </div>
  </div>
</footer>